*{
    padding:0px;
    margin:0px;
}
.transition-container{
    width:100%;
    text-align:center;
}
.test-font-color{
    color:#333;
    transition-property: color;
    transition-duration: 0.5s;
}
.transition-container .transition-div{
width:0px;
height:5px;
margin:0 auto;
background: #417DC9;
/*属性规定背景的绘制区域*/
/* 继承性：no */
/*object.style.backgroundClip="content-box/padding-box/border-box"*/
background-clip: content-box;
padding:50px 0;
/*  */
transition-property:width;
transition-duration: 0.5s;
}
.transition-container .change-style{
    width:80px;
    height:28px;
    border-radius:5px;
    background: #fff;
}
.transition-div1{
   margin:0 auto;
   width:5px;
   height:5px;
   transition-property: width;
   transition-duration: 1s;
   background: #417DC9;
}
.transition-div1:hover{
      width:80px;
}
/*  */
.transition-container .change-style:active{
    background:#417DC9;
}
